// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Fonts
$light-mode-h1-text-color: #000000;
$light-mode-h2-text-color: #000000;
$light-mode-card-h2-text-color: #0d571a;

$light-mode-h3-text-color: #000000;
$light-mode-paragraph-text-color: #000000;
$light-mode-card-text-color: #333;

$dark-mode-h1-text-color: #FFFFFF;
$dark-mode-h2-text-color: #FFFFFF;
$dark-mode-card-h2-text-color: #f2a8e5;

$dark-mode-h3-text-color: #FFFFFF;
$dark-mode-paragraph-text-color: #FFFFFF;
$dark-mode-card-text-color: #ccc;

// Backgrounds
$light-mode-default-background-color: #FFFFFF;
$light-mode-card-background-color: #F7F7F7;
$light-mode-welcome-banner-background-color: #fbd082;
$light-mode-welcome-banner-text-box-background-color: #39805b;

$dark-mode-default-background-color: #000000;
$dark-mode-card-background-color: #080808;
$dark-mode-welcome-banner-background-color: #f340b9;
$dark-mode-welcome-banner-text-box-background-color: #9addf4;

$success-flash-message-background-color: #28a745;
$fail-flash-message-background-color: #dc3545;


