// Light mode
$light-deep: #fffbfe
$light-shallow: #F5F5F5
$light-standout: #333333
$light-subtle: #03191e
$light-highlight: #BE8A60
$light-docile: #E0E0E0
$light-keen: #44CF6C

// Dark mode
$dark-deep: #222222
$dark-shallow: #292929
$dark-standout: #a37c40
$dark-subtle: #f1ffe7
$dark-highlight: #04724D
$dark-docile: #63697E
$dark-keen: #157F1F

// Fonts
$light-mode-h1-text-color: $light-standout
$light-mode-h2-text-color: $light-standout
$light-mode-card-h2-text-color: $light-standout

$light-mode-h3-text-color: $light-standout
$light-mode-paragraph-text-color: $light-subtle
$light-mode-card-text-color: $light-subtle
$light-mode-site-placeholder-text-color: $light-standout
$light-mode-search-button-icon-color: $light-mode-paragraph-text-color
$light-mode-hidden-flash-text-color: $light-subtle

$dark-mode-h1-text-color: $dark-standout
$dark-mode-h2-text-color: $dark-standout
$dark-mode-card-h2-text-color: $dark-standout

$dark-mode-h3-text-color: $dark-standout
$dark-mode-paragraph-text-color: $dark-subtle
$dark-mode-card-text-color: $dark-subtle
$dark-mode-site-placeholder-text-color: $dark-standout
$dark-mode-search-button-icon-color: $dark-mode-paragraph-text-color
$dark-mode-hidden-flash-text-color: $dark-subtle

// Backgrounds
$imposing-icon-blur: 15px
$imposing-icon-spread: 15px
$imposing-icon-background-alpha: 0.9

$light-mode-default-background-color: $light-deep
$light-mode-navbar-background-color: $light-deep
$light-mode-card-background-color: $light-shallow
$light-mode-welcome-banner-background-color: $light-highlight
$light-mode-welcome-banner-text-box-background-color: $light-shallow
$light-mode-keen-modal-background-color: $light-shallow
$light-mode-input-background-color: $light-shallow
$light-mode-photo-uploader-background-color: $light-shallow
$light-mode-btn-docile-background-color: $light-docile
$light-mode-btn-keen-background-color: $light-keen
$light-mode-site-logo-background-fill: $light-highlight
$light-mode-site-placeholder-background-color: $light-mode-site-logo-background-fill
$light-mode-search-button-background-color: $light-mode-default-background-color
$light-mode-hidden-flash-success-background-color: $light-keen
$light-mode-hidden-flash-fail-background-color: $light-highlight
$light-mode-flash-alert-docile-background-color: $light-docile
$light-mode-flash-alert-keen-background-color: $light-highlight
$light-mode-imposing-icon-box-shadow: 0 0 $imposing-icon-blur $imposing-icon-spread $light-mode-default-background-color
$light-mode-imposing-icon-background-color: rgba($light-mode-default-background-color, $imposing-icon-background-alpha)

$dark-mode-default-background-color: $dark-deep
$dark-mode-navbar-background-color: $dark-deep
$dark-mode-card-background-color: $dark-shallow
$dark-mode-welcome-banner-background-color: $dark-highlight
$dark-mode-welcome-banner-text-box-background-color: $dark-shallow
$dark-mode-keen-modal-background-color: $dark-shallow
$dark-mode-input-background-color: $dark-shallow
$dark-mode-photo-uploader-background-color: $dark-shallow
$dark-mode-btn-docile-background-color: $dark-docile
$dark-mode-btn-keen-background-color: $dark-keen
$dark-mode-site-logo-background-fill: $dark-highlight
$dark-mode-site-placeholder-background-color: $dark-mode-site-logo-background-fill
$dark-mode-search-button-background-color: $dark-mode-default-background-color
$dark-mode-hidden-flash-success-background-color: $dark-keen
$dark-mode-hidden-flash-fail-background-color: $dark-highlight
$dark-mode-flash-alert-docile-background-color: $dark-docile
$dark-mode-flash-alert-keen-background-color: $dark-highlight
$dark-mode-imposing-icon-box-shadow: 0 0 $imposing-icon-blur $imposing-icon-spread $dark-mode-default-background-color
$dark-mode-imposing-icon-background-color: rgba($dark-mode-default-background-color, $imposing-icon-background-alpha)

// Borders
$light-mode-navbar-search-dropdown-border-color: $light-subtle
$light-mode-input-border-color: $light-subtle
$light-mode-editable-element-hover-border: $light-keen
$light-mode-btn-keen-border-color: $light-keen
$light-mode-btn-docile-border-color: $light-docile

$dark-mode-navbar-search-dropdown-border-color: $dark-subtle
$dark-mode-input-border-color: $dark-subtle
$dark-mode-editable-element-hover-border: $dark-keen
$dark-mode-btn-keen-border-color: $dark-keen
$dark-mode-btn-docile-border-color: $dark-docile

// Icons
$light-mode-site-logo-icon-fill: $light-standout

$dark-mode-site-logo-icon-fill: $dark-standout

// Spinner
$light-mode-spinner-color: $light-highlight

$dark-mode-spinner-color: $dark-highlight
