// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Fonts
$light-mode-h1-text: #000000;

$light-mode-h2-text: #000000;
$light-mode-card-h2-text: #0d571a;

$light-mode-h3-text: #000000;
$light-mode-paragraph-text: #000000;
$light-mode-card-text: #333;

$dark-mode-h1-text: #FFFFFF;

$dark-mode-h2-text: #FFFFFF;
$dark-mode-card-h2-text: #f2a8e5;

$dark-mode-h3-text: #FFFFFF;
$dark-mode-paragraph-text: #FFFFFF;
$dark-mode-card-text: #ccc;

// Backgrounds
$light-mode-default-background: #FFFFFF;
$light-mode-card-background: #F7F7F7;

$dark-mode-default-background: #000000;
$dark-mode-card-background: #080808;

