%h1
  Welcome to the community,
  = @user.username
%p
  Plant as Usual is a community to share and discover plant-based recipes. Whether you're an experienced plant-based chef, or a curious omnivore, join the community. And however simple, share your plant-based creations for others to enjoy.

.card
  .card-icon.plus-icon
  .card-text
    Got a recipe that you want to contribute to the community?
  .card-button.button.keen-button
    -# ADD LINK
    Add a recipe
