.admin-page
  .admin-page-recipe
    .photo-container
      height: 216px
      img
        max-height: 100%
        object-fit: cover
  .admin-page-user

.light-mode
  .admin-page
    .admin-page-recipe, .admin-page-user
      background-color: $light-mode-card-background-color

.dark-mode
  .admin-page
    .admin-page-recipe, .admin-page-user
      background-color: $dark-mode-card-background-color
