- if @recipe_filter == 'user_recipes' && @searched_for_user_id == current_user.id
  %button.btn.btn-keen{ 'data-toggle' => 'modal', 'data-target' => '#add-recipe-modal' }
    Add a recipe instead
- else
  = link_to 'Browse recipes', recipes_path, class: "btn btn-keen"
