.modal.fade#add-recipe-modal{class: component_classes(DarkMode::CLASSES[:keen_modal]), 'tabindex' => '-1', 'role' => 'dialog', 'aria-labelledby' => 'add-recipe-modal-label', 'aria-hidden' => 'true'}
  .modal-dialog.modal-lg{'role' => 'document'}
    .modal-content
      = simple_form_for Recipe.new do |f|
        .modal-header
          %h5.modal-title#add-recipe-modal-label
            What is the name of your recipe?
          %button.close-cross{ type: :button, 'data-dismiss' => 'modal', 'aria-label' => 'Close' }
            %span{'aria-hidden' => "true"}
              &times;
        .modal-body
          = f.input :name, label: false
        .modal-footer
          %button.btn{ type: :button, 'data-dismiss' => 'modal', class: component_classes(DarkMode::CLASSES[:btn_docile]) }
            Close
          = f.button :submit, class: "btn #{component_classes(DarkMode::CLASSES[:btn_keen])}"
