%div{ class: component_classes(DarkMode::CLASSES[:hidden_flash_message_container]) }
  #hidden-flash-message
    .justify-content-center.align-items-center.d-flex
      #hidden-flash-text
        = text
