.row.my-5{class: component_classes('recipe-card')}
  .col-6.p-0.photo{class: @recipe_iterator.odd? ? "order-first" : "order-last"}
    - if recipe.photo.file&.exists?
      = image_tag recipe.photo.url, class: 'recipe-index-photo'
  .col-6.p-0.details
    %h2
      = recipe.name
- @recipe_iterator += 1
