S3_BUCKET_NAME: ""
AWS_ACCESS_KEY_ID: ""
AWS_SECRET_ACCESS_KEY: ""
AWS_REGION: ""

SLACK_GENERAL_CHANNEL_WEBHOOK_URL: ''
SLACK_TEST_CHANNEL_WEBHOOK_URL: ''
SLACK_JETHRO_WEBHOOK_URL: ''

production:
  S3_BUCKET_NAME: "" # THIS IS THE ONE YOU SET IN YOUR HEROKU CONFIG

GMAIL_USER_NAME: ''
GMAIL_PASSWORD: ''
