.alert
  position: fixed
  bottom: $flash-alert-position
  right: $flash-alert-position
  margin-left: $flash-alert-position
  z-index: 1000

.light-mode
  .alert-keen
    color: $light-mode-paragraph-text-color
    background-color: $light-mode-flash-alert-keen-background-color
  .alert-docile
    color: $light-mode-paragraph-text-color
    background-color: $light-mode-flash-alert-docile-background-color

.dark-mode
  .alert-keen
    color: $dark-mode-paragraph-text-color
    background-color: $dark-mode-flash-alert-keen-background-color
  .alert-docile
    color: $dark-mode-paragraph-text-color
    background-color: $dark-mode-flash-alert-docile-background-color
