.input-display
  border: 1px solid transparent
  padding: $input-y-padding $input-x-padding

#process-display
  white-space: pre-wrap

#name-input
  font-size: 30px

.input-edit
  font-size: $paragraph-font-size

.input-edit#name-input
  font-size: $h1-font-size
  font-weight: $h1-font-weight

.light-mode
  .input-edit
    color: $light-mode-paragraph-text-color
    background-color: $light-mode-input-background-color
    border-color: $light-mode-input-border-color !important
    &:focus
      color: $light-mode-paragraph-text-color
      background-color: $light-mode-input-background-color

  .input-edit#name-input
    color: $light-mode-h1-text-color

.dark-mode
  .input-edit
    color: $dark-mode-paragraph-text-color
    background-color: $dark-mode-input-background-color
    border-color: $dark-mode-input-border-color !important
    &:focus
      color: $dark-mode-paragraph-text-color
      background-color: $dark-mode-input-background-color

  .input-edit#name-input
    color: $dark-mode-h1-text-color
