.keen-modal
  .modal-content
    .modal-header
      .close-cross
        border: none

.light-mode
  .keen-modal
    .modal-content
      background-color: $light-mode-keen-modal-background-color
      .modal-header
        .close-cross
          color: $light-mode-card-text-color
          background-color: $light-mode-keen-modal-background-color

.dark-mode
  .keen-modal
    .modal-content
      background-color: $dark-mode-keen-modal-background-color
      .modal-header
        .close-cross
          color: $dark-mode-card-text-color
          background-color: $dark-mode-keen-modal-background-color
