// .navbar-container
.navbar
  height: $navbar-height
  z-index: $navbar-z-index
  font-size: $navbar-font-size

  .site-logo
    top: $site-logo-position
    left: $site-logo-position
    z-index: $logo-z-index
    img
      width: $site-logo-width

  .search-logo
    top: $search-logo-position
    right: $search-logo-position
    z-index: $logo-z-index
    line-height: 1


  #navbarDropdown
    &:before
      content: none

  .dark-mode-switch-container
    &:active
      background-color: transparent


.navbar-light-mode
  background: $light-mode-default-background-color
  .fa-bars
    color: $light-mode-paragraph-text-color
  a
    color: $light-mode-paragraph-text-color
  .dropdown-menu
    background: $light-mode-default-background-color
    // .dropdown-item
      // color: $light-mode-paragraph-text-color

.navbar-dark-mode
  background: $dark-mode-default-background-color
  .fa-bars
    color: $dark-mode-paragraph-text-color
  a
    color: $dark-mode-paragraph-text-color
  .dropdown-menu
    background: $dark-mode-default-background-color
    // .dropdown-item
      // color: $dark-mode-paragraph-text-color
