.custom-navbar
  height: $navbar-height
  font-size: $navbar-font-size
  z-index: $custom-navbar-z-index
  position: relative

  .site-logo
    top: $site-logo-position
    left: $site-logo-position
    z-index: $logo-z-index

  .search-logo
    top: $search-logo-position
    right: $search-logo-position
    z-index: $logo-z-index
    line-height: 1

  #menu-items-desktop-container
    padding: 0 $menu-items-desktop-container-right-padding 0 $menu-items-desktop-container-left-padding

  #navbarSearchDropdown, #navbarMenuDropdown
    &:before, &:after
      content: none

  .menu-item
    &:hover
      cursor: pointer

  .navbar-menu-item-icon
    width: $navbar-menu-item-icon-width
    margin-left: $navbar-menu-item-icon-left-margin
    margin-right: $navbar-menu-item-icon-right-margin

  #navbarMenuDropdown
    background-color: transparent
    border: none
    &:focus
      outline: none

  #dropdown-item-container
    transform: translate3d(0, calc(#{$navbar-height} - 2px), 0) !important
    border: none
    border-radius: 0
    z-index: $navbar-dropdown-menu-z-index
    font-size: $default-font-size

    .dropdown-item
      padding-left: $dropdown-item-left-padding
      &:hover
        background: transparent

  #dark-mode-switch-container
    &:active
      background-color: transparent
    &:hover
      cursor: pointer
      *
        cursor: pointer

    #dark-mode-switch
      padding-left: $toggle-switch-width

      #dark-mode-dropdown-switch-label, #dark-mode-expanded-switch-label
        &:before
          width: $toggle-switch-label-width
          top: $outer-toggle-switch-top

      #dark-mode-dropdown-switch-label
        &:after
          top: $inner-toggle-switch-top

      #dark-mode-expanded-switch-label
        &:after
          top: calc(#{$inner-toggle-switch-top} - 1px)

  #search-form-container
    #search-form
      background-color: transparent


.custom-navbar-light-mode
  background: $light-mode-default-background-color
  .fa-bars
    color: $light-mode-paragraph-text-color
  a, .dropdown-item
    color: $light-mode-paragraph-text-color
  .dropdown-menu
    background: $light-mode-default-background-color
  #search-form-container
    border-color: $light-mode-navbar-search-dropdown-border-color
    #search-form

.custom-navbar-dark-mode
  background: $dark-mode-default-background-color
  .fa-bars
    color: $dark-mode-paragraph-text-color
  a, .dropdown-item
    color: $dark-mode-paragraph-text-color
  .dropdown-menu
    background: $dark-mode-default-background-color
  #search-form-container
    border-color: $dark-mode-navbar-search-dropdown-border-color
    #search-form
