.navbar
  justify-content: space-around
  height: $navbar-height
  z-index: 1000

.navbar .navbar-collapse
  flex-grow: 0

.navbar .navbar-brand img
  width: 40px

#navbarDropdown
  &:before
    content: none

.navbar-light-mode
  background: $light-mode-default-background-color
  .fa-bars
    color: $light-mode-paragraph-text-color
  .nav-link
    color: $light-mode-paragraph-text-color
  .dropdown-menu
    background: $light-mode-default-background-color
    .dropdown-item
      color: $light-mode-paragraph-text-color

.navbar-dark-mode
  background: $dark-mode-default-background-color
  .fa-bars
    color: $dark-mode-paragraph-text-color
  .nav-link
    color: $dark-mode-paragraph-text-color
  .dropdown-menu
    background: $dark-mode-default-background-color
    .dropdown-item
      color: $dark-mode-paragraph-text-color
