.site-logo-container
  width: $site-logo-width
  .site-logo
    border-radius: 50%

  .site-logo-light-mode
    .logo-background
      fill: $light-mode-site-logo-background-fill
    .logo-icon
      fill: $light-mode-site-logo-icon-fill

  .site-logo-dark-mode
    .logo-background
      fill: $dark-mode-site-logo-background-fill
    .logo-icon
      fill: $dark-mode-site-logo-icon-fill
