.site-placeholder
  width: 100%
  height: 100%
  .placeholder-text
    font-size: $site-placeholder-text-size
    font-weight: $site-placeholder-font-weight

.site-placeholder-light-mode
  background-color: $light-mode-site-placeholder-background-color
  .placeholder-text
    color: $light-mode-site-placeholder-text-color

.site-placeholder-dark-mode
  background-color: $dark-mode-site-placeholder-background-color
  .placeholder-text
    color: $dark-mode-site-placeholder-text-color
