.wide-recipe-card
  @media (min-width: $grid-md)
    max-height: 75vh
  .photo-container, .details-container
    max-height: inherit
  .photo-container
    img
      object-fit: cover
  .placeholder-container
    display: none
    @media (min-width: $grid-md)
      display: block
  .details-container
    padding: 10vw 0
    .details
      max-height: inherit
      padding: 0 10%
      @media (min-width: $grid-md)
        padding: 0 20%

.wide-recipe-card-light-mode
  background: $light-mode-card-background-color
  .details
    color: $light-mode-card-text-color
    h2
      color: $light-mode-card-h2-text-color

.wide-recipe-card-dark-mode
  background: $dark-mode-card-background-color
  .details
    color: $dark-mode-card-text-color
    h2
      color: $dark-mode-card-h2-text-color
