.dark-mode-switch-container
  .custom-control.custom-switch
    %input.custom-control-input{id: switch_id ,type: 'checkbox'}
    %label.custom-control-label{for: switch_id}
      %i.fas.fa-moon
      Dark mode
