#dark-mode-switch-container{class: mobile ? 'dropdown-item' : ''}
  .custom-control.custom-switch#dark-mode-switch
    %input.custom-control-input{id: mobile ? 'dark-mode-dropdown-switch' : 'dark-mode-expanded-switch', type: 'checkbox'}
    %label.custom-control-label{id: mobile ? 'dark-mode-dropdown-switch-label' : 'dark-mode-expanded-switch-label', for: mobile ? 'dark-mode-dropdown-switch' : 'dark-mode-expanded-switch'}
      %span
        &#160;Dark mode
