= link_to account_path, class: 'dropdown-item' do
  %i.fas.fa-user-cog.navbar-menu-item-icon.d-inline-block.d-md-none.d-lg-inline-block
  %span
    Account

= link_to destroy_user_session_path, class: 'dropdown-item', method: :delete do
  %i.fas.fa-sign-out-alt.navbar-menu-item-icon.d-inline-block.d-md-none.d-lg-inline-block
  %span
    Sign out
