// Graphical variables
@import "config/fonts"
@import "config/colors"
@import "config/positions"
@import "config/sizes"
@import "config/bootstrap_variables"
@import "config/bootstrap_overrides"

// External libraries
@import "bootstrap/scss/bootstrap"
@import "font-awesome-sprockets"
@import "font-awesome"

// Your CSS partials
@import "components/index"
@import "pages/index"

.page-container
  padding: 0
  margin: 0
  font-size: $default-font-size
  min-height: 100vh
  h1
    font-size: $h1-font-size
    font-weight: $h1-font-weight
  p
    font-size: $paragraph-font-size
  a
    &:hover
      text-decoration: none

.page-container-light-mode
  background: $light-mode-default-background-color
  color: $light-mode-paragraph-text-color
  h1
    color: $light-mode-h1-text-color
  h2
    color: $light-mode-h2-text-color
  h3
    color: $light-mode-h3-text-color

.page-container-dark-mode
  background: $dark-mode-default-background-color
  color: $dark-mode-paragraph-text-color
  h1
    color: $dark-mode-h1-text-color
  h2
    color: $dark-mode-h2-text-color
  h3
    color: $dark-mode-h3-text-color
